body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
}

.loading{
    width: 50px;
    height: 50px;
    border: 5px solid #e5e5e5;
    border-top-color: purple;
    animation: rotation 1s infinite;
    border-radius:50px;
}

@keyframes rotation{
    to{
        transform: rotate(1turn);
    }
}